
@import url(./styles/awesome.css);
@import url(./styles/tabs.css);
*{
    --container-width:1170px;

    /* добавить переменку с дефолтным шрифтом и задать в rem'ax fsz везде!  */
    margin: 0;
    padding: 0;
}
body{
    padding: 0 15px;
}